<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="title">
           
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <img class="pokemon" src="https://thumbs.gfycat.com/FairSinfulCottontail-max-1mb.gif" alt="">
                       
                        
                    </div>  
                    
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">User</label>
                              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                          </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
